* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__header {
  background-color: white;
  padding-left: 20px;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 4px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
}

.app__headerImage {
  height: 29px;
}
